Spring-proctice/src/Common-java/src/main/resources/schema/irisk/dasinterface/PaxNoShows.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	targetNamespace="paxNoShows" xmlns:tra="paxNoShows"
	jaxb:version="2.0">

	<!-- denotes travellers that are not on a flight  -->
	<xs:element name="paxNoShows">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="flightSegId" type="xs:long" minOccurs="1" maxOccurs="1"/>
				<xs:element name="traId" type="xs:long" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>