Spring-proctice/src/SCenter/xml-library/xml-library/schemas/v3/detail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	attributeFormDefault="unqualified" 
	elementFormDefault="qualified"
	targetNamespace="http://xml.A.com/v3"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ac="http://xml.A.com/v3">
	
	<xs:include schemaLocation="serviceability.xsd"/>

	<xs:simpleType name="detailObjectType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="item" />
			<xs:enumeration value="marketItem" />
			<xs:enumeration value="businessParty" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="detailElementType">
		<xs:choice maxOccurs="1" minOccurs="1">
			<xs:sequence>
				<xs:element name="detailType" maxOccurs="1" minOccurs="1">
				<xs:annotation>
						<xs:documentation>
						Contains the object type for which details are being requested.
						</xs:documentation>
				</xs:annotation>
				<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="ac:detailObjectType">
								<xs:attribute name="externalId" type="xs:string" use="required" >
									<xs:annotation>
										<xs:documentation>
										Contains the external id of the object being requested. 
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>	
				</xs:element>
			</xs:sequence>
			<xs:sequence>
			<xs:element name="referenceType" maxOccurs="1" minOccurs="1">
				<xs:annotation>
						<xs:documentation>
						Contains the object type for which details are being requested.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="itemCategories" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="detailResultType">
		<xs:annotation>
			<xs:documentation>
			Contains the specialized result type for the requested type and external id.
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:sequence>
				<xs:element name="itemResult" type="ac:itemDetailType"
					minOccurs="1" maxOccurs="1">
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="marketItemResult" type="ac:marketItemDetailType"
					minOccurs="1" maxOccurs="1">
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="businessPartyResult" type="ac:businessPartyDetailType"
					minOccurs="1" maxOccurs="1" >
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="referenceResult" type="ac:referenceResultType"
					minOccurs="1" maxOccurs="1" >
				</xs:element>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="itemDetailType">
		<xs:sequence>
			<xs:element name="requestedFor" type="ac:detailElementType"	minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
					Contains the detail element that contains what was requested.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="feature" type="ac:featureType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
					Contains the feature info for the requested object.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="featureGroup" type="ac:featureGroupType" minOccurs="0" maxOccurs="unbounded" >
				<xs:annotation>
					<xs:documentation>
					Contains the feature group info for the requested object.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="marketingHighlights" type="ac:marketingHighlightType" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>
					Contains the marketing highlights info for the requested object.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="descriptiveInfo" type="ac:descriptiveInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
					Contains the descriptive info for the requested object.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="marketItemDetailType">
		<xs:sequence>
			<xs:element name="requestedFor" type="ac:detailElementType"	minOccurs="1" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>
					Contains the detail element that contains what was requested.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="feature" type="ac:featureType" minOccurs="0" maxOccurs="unbounded" >
				<xs:annotation>
					<xs:documentation>
					Contains the feature info for the requested object.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="featureGroup" type="ac:featureGroupType" minOccurs="0" maxOccurs="unbounded" >
				<xs:annotation>
					<xs:documentation>
					Contains the feature group info for the requested object.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="marketingHighlights" type="ac:marketingHighlightType" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>
					Contains the marketing highlights info for the requested object.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="descriptiveInfo" type="ac:descriptiveInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
					Contains the descriptive info for the requested object.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="businessPartyDetailType">
		<xs:sequence>
			<xs:element name="requestedFor" type="ac:detailElementType"	minOccurs="1" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>
					Contains the detail element that contains what was requested.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="logoImagePath" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="currentAddress" type="ac:addressType" minOccurs="0" maxOccurs="1" />
			<xs:element name="coBrandName" type="xs:string" minOccurs="0" maxOccurs="1" />
    		<xs:element name="urlForOrdering" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
    		<xs:element name="phoneNumForOrdering" type="ac:phoneNumberValueType" minOccurs="0" maxOccurs="1" />
    		<xs:element name="phoneNumForCustomerCare" type="ac:phoneNumberValueType" minOccurs="0" maxOccurs="1" />
			<xs:element name="descriptiveInfo" type="ac:descriptiveInfoType" minOccurs="0" maxOccurs="unbounded" >
				<xs:annotation>
					<xs:documentation>
					Contains the descriptive info for the requested object.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="featureType">
		<xs:sequence>
			<xs:element name="externalId" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element ref="ac:price" minOccurs="0" maxOccurs="1" />
			<xs:element name="included" type="ac:emptyElementType" minOccurs="0" maxOccurs="1" />
			<xs:element name="required" type="xs:boolean" minOccurs="1" maxOccurs="1" />
			<xs:element name="available" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="doNotDisplay" type="ac:emptyElementType" minOccurs="0" maxOccurs="1" />
			<xs:element name="dataConstraints" type="ac:dataConstraintType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="required" />
		<xs:attribute name="description" type="xs:string" use="optional" />
		<xs:attribute name="tags" type="xs:string" use="optional" />	
	</xs:complexType>

	<xs:complexType name="featureGroupType">
		<xs:sequence>
			<xs:element name="externalId" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element ref="ac:price" minOccurs="0" maxOccurs="1" />
			<xs:element name="included" type="ac:emptyElementType" minOccurs="0" maxOccurs="1" />
			<xs:element name="required" type="xs:boolean" minOccurs="1" maxOccurs="1" />
			<xs:element name="available" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="doNotDisplay" type="ac:emptyElementType" minOccurs="0" maxOccurs="1" />
			<xs:element name="dataConstraints" type="ac:dataConstraintType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="feature" type="ac:featureType" minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="selectionType">
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="1">
						<xs:element name="pickAll" type="ac:emptyElementType" />
						<xs:element name="pickOne" type="ac:emptyElementType" />
						<xs:element name="pickUpToN" type="xs:positiveInteger"/>
						<xs:element name="pickN" type="xs:positiveInteger" />
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="required" />
		<xs:attribute name="description" type="xs:string" use="optional" />
		<xs:attribute name="tags" type="xs:string" use="optional" />
	</xs:complexType>

	<xs:complexType name="dataConstraintType">
		<xs:sequence>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="booleanConstraint">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="value" minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:enumeration value="T" />
										<xs:enumeration value="F" />
										<xs:enumeration value="true" />
										<xs:enumeration value="false" />
										<xs:enumeration value="True" />
										<xs:enumeration value="False" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="stringConstraint">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="length" type="xs:integer" minOccurs="0" maxOccurs="1" />
							<xs:choice minOccurs="0" maxOccurs="1">
								<xs:sequence>
									<xs:element name="listOfValues" minOccurs="1"
										maxOccurs="1">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:element name="value" type="xs:string" minOccurs="1"	maxOccurs="1" />
							</xs:choice>
						</xs:sequence>
						<xs:attribute name="comparableValue" type="xs:float" use="optional" />
					</xs:complexType>
				</xs:element>
				<xs:element name="integerConstraint">
					<xs:complexType>
						<xs:sequence>
							<xs:choice minOccurs="0" maxOccurs="1">
								<xs:sequence>
									<xs:element name="listOfValues" minOccurs="1"
										maxOccurs="1">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="value" type="xs:integer" minOccurs="1" maxOccurs="unbounded" />
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:element name="value" type="xs:integer" minOccurs="1"
									maxOccurs="1" />
								<xs:sequence>
									<xs:element name="minValue" type="xs:integer" minOccurs="0" maxOccurs="1" />
									<xs:element name="maxValue" type="xs:integer" minOccurs="0" maxOccurs="1" />
								</xs:sequence>
							</xs:choice>
						</xs:sequence>
						<xs:attribute name="unlimited" type="xs:boolean" use="optional" />
						<xs:attribute name="unit" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="descriptiveInfoType">
		<xs:sequence>
			<xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="termsAndConditions" />
					<xs:enumeration value="disclosures" />
					<xs:enumeration value="longDescription" />
					<xs:enumeration value="shortDescription" />
					<xs:enumeration value="associatedDocument" />
					<xs:enumeration value="other" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="description" type="xs:string" use="optional" />
	</xs:complexType>
	
	<xs:complexType name="marketingHighlightType">
		<xs:sequence>
			<xs:element name="marketingHighlight" type="xs:string" minOccurs="0" maxOccurs="10" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="referenceResultType">
		<xs:sequence>
			<xs:element name="requestedFor" type="ac:detailElementType"	minOccurs="1" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>
					Contains the detail element that contains what was requested.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element name="itemCategory" type="ac:itemCategory" minOccurs="1" maxOccurs="unbounded">			
					<xs:annotation>
						<xs:documentation>
						Contains the item category reference info.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>

</xs:schema>