Spring-proctice/src/Common-java/src/main/resources/schema/irisk/ap/app-types.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by Colin Wisdom (xyz) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:ext="http://tools.bms.pts.xyz.com/xjcplugin/markentities" xmlns:ext2="http://tools.bms.pts.xyz.com/xjcplugin/markentities/entity" xmlns:at="app-types" xmlns:st="string-types" targetNamespace="app-types" version="1.1" jaxb:extensionBindingPrefixes="xjc ext ext2" jaxb:version="2.0">
	<!-- -->
	<!-- -->
	<xs:annotation>
		<xs:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="abc.xyz.das.dascore.model.generated.input.app"/>
			</jaxb:schemaBindings>
			<jaxb:property>
				<jaxb:javadoc>entity,violations,errorreporting</jaxb:javadoc>
			</jaxb:property>
		</xs:appinfo>
	</xs:annotation>
	<!-- -->
	<!-- -->
	<xs:import namespace="string-types" schemaLocation="../../das/common/string-types.xsd"/>
	<xs:complexType name="ApTravellerType">
		<xs:annotation>
			<xs:documentation>Contains the Traveller details from the airline.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaxCrewIndicatorCode" type="at:PaxCrewIndicatorCodeType">
				<xs:annotation>
					<xs:documentation>Identifies what type of traveller this is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NationalityCode" type="at:CountryCodeType">
				<xs:annotation>
					<xs:documentation>Nationality of the traveller. (ISO/ICAO 3-character code)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gender" type="at:ApGenderType">
				<xs:annotation>
					<xs:documentation>Traveller gender.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FamilyName" type="st:STR64_TYPE">
				<xs:annotation>
					<xs:documentation>Traveller Family Name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GivenNames" type="st:STR64_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Traveller's Given Names.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthDate" type="st:STR8_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the Date of Birth of the traveller.  Format is:
- YYYYMMDD for full date
- YYYYMM for unknown day of month
- YYYY for unknown month and day of month.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryOfBirth" type="at:CountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Country of Birth, of the traveller. (ISO/ICAO 3-character code)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PNRSource" type="st:STR3_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the system that generated the PNRLocator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PNRLocator" type="st:STRING_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The traveller's PNR Locator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PassengerReference" type="st:STR25_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optionally provided by the airline to uniquely identify the traveller within the flight.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelDocumentList" type="at:TravelDocumentListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The list of the traveller's travel documents.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExternalClientIdentifier" type="st:STR15_TYPE" minOccurs="0"/>
			<xs:element name="ExternalIdentifier" type="st:STR15_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TravelDocumentListType">
		<xs:sequence>
			<xs:element name="TravelDocument" type="at:ApTravelDocumentType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApTravelDocumentType">
		<xs:sequence>
			<xs:element name="Type" type="at:TypeOfDocType"/>
			<xs:element name="Number" type="st:STR15_TYPE"/>
			<xs:element name="IssueCountry" type="at:CountryCodeType" minOccurs="0"/>
			<xs:element name="ExpiryDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtraJourneyInfoType">
		<xs:annotation>
			<xs:documentation>Contains extra information about the Movement.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PortCode" type="at:AirportCodeType"/>
			<xs:element name="FlightCode" type="at:FlightCodeType"/>
			<xs:element name="DateTime" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FlightCodeType">
		<xs:sequence>
			<xs:element name="Carrier" type="at:CarrierCodeType"/>
			<xs:element name="FlightNumber" type="at:FlightNumberType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SegmentStopListType">
		<xs:sequence>
			<xs:element name="SegmentStop" type="at:SegmentStopType" minOccurs="2" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Provides information on any point that the passenger on the flight stops, starts or transits from.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SegmentStopType">
		<xs:sequence>
			<xs:element name="AirportCode" type="at:AirportCodeType">
				<xs:annotation>
					<xs:documentation>The 3 or 4-letter airport code for the airport for the stop of the flight.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirportCountryCode" type="at:CountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The country code of the airport. (ISO/ICAO 3-character code)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduledArrivalDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Scheduled date and time of arrival for this stop of the flight.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduledDepartureDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Scheduled date and time of departure for this stop of the flight.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AlertType">
		<xs:annotation>
			<xs:documentation>Each alert type is mandatory, but maybe set to False. 
			PersonAlert: alert against the traveller. 
			DocumentAlert: alert against the travel document. 
			MovementAlert: alert where there is an anomaly in the movement details </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonAlert" type="at:AlertHitType"/>
			<xs:element name="DocumentAlert" type="at:AlertHitType"/>
			<xs:element name="MovementAlert" type="at:AlertHitType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- One Alert Hit -->
	<xs:complexType name="AlertHitType">
		<xs:annotation>
			<xs:documentation>Identifies either a Person Hit or a Document Hit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HitStatus" type="at:HitStatusType">
				<xs:annotation>
					<xs:documentation>What action to take:
- NotifyHit to allow travel but notify a hit 
- Stop to not allow the movement
- Unknown
- No Hit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HitsId" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Can contain a reference from a Watch List module to identify one or more Hits.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HitCode" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Can contain a code to provide additional information on the reason for the Hit</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Airline code 2 letters or 3 letters AN(3) -->
	<!-- Airline code 3 letters AN(3) -->
	<xs:simpleType name="CarrierCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\w{2,3})"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Flight Numbers support IATA and ICAO format - up to 4 or 5 characters -->
	<xs:simpleType name="FlightNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<!-- Country codes. -->
	<!-- Generally ISO 3166 Country code, Alpha(3), with additions as defined by ICAO Document 9303 -->
	<!-- GBD: British dependent territories citizen(note: the country code of the overseas territory is presently used to indicate issuing authority and nationality of BOTC) -->
	<!-- GBN: British National (Overseas) -->
	<!-- GBO: British Overseas citizen -->
	<!-- GBP: British protected person -->
	<!-- GBS: British subject -->
	<!-- UNA: specialized agency of the United Nations -->
	<!-- UNK: resident of Kosovo to whom a travel document has been issued by the United Nations Interim Administration Mission in Kosovo (UNMIK) -->
	<!-- UNO: United Nations Organization -->
	<!-- XOM: Sovereign Military Order of Malta -->
	<!-- XXA: stateless person, as per the 1954 Convention Relating to the Status of Stateless Persons -->
	<!-- XXB: refugee, as per the 1951 Convention Relating to the Status of Refugees -->
	<!-- XXC: refugee, other than defined above -->
	<!-- XXX: unspecified nationality -->
	<!-- -->
	<!-- Please note, Germany should be sent as DEU  -->
	<!-- -->
	<!-- -->
	<xs:simpleType name="CountryCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(.{2,3})"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Airport Codes support IATA and ICAO format - 3 or 4 characters -->
	<xs:simpleType name="AirportCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(.{3,4})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CarrierType">
		<xs:restriction base="st:STRING_TYPE">
			<xs:enumeration value="Air"/>
			<xs:enumeration value="Sea"/>
			<xs:enumeration value="Land"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="APPTypeCodeType">
		<xs:restriction base="st:STRING_TYPE">
			<xs:enumeration value="Integrated"/>
			<xs:enumeration value="Standalone"/>
			<xs:enumeration value="CarrierPortal"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOfMovementType">
		<xs:restriction base="st:STRING_TYPE">
			<xs:enumeration value="Expected"/>
			<xs:enumeration value="Denied"/>
			<xs:enumeration value="Cancelled"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaxCrewIndicatorCodeType">
		<xs:restriction base="st:STRING_TYPE">
			<xs:enumeration value="Passenger"/>
			<xs:enumeration value="Crew"/>
			<xs:enumeration value="PositioningCrew"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOfDocType">
		<xs:restriction base="st:STRING_TYPE">
			<xs:enumeration value="Passport"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ApGenderType">
		<xs:restriction base="st:STRING_TYPE">
			<xs:enumeration value="Male"/>
			<xs:enumeration value="Female"/>
			<xs:enumeration value="Unspecified"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MovementDirectionType">
		<xs:restriction base="st:STRING_TYPE">
			<xs:enumeration value="In"/>
			<xs:enumeration value="Out"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOfTravelType">
		<xs:restriction base="st:STRING_TYPE">
			<xs:enumeration value="Normal">
				<xs:annotation>
					<xs:documentation>Normal arrival or departure.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Transit">
				<xs:annotation>
					<xs:documentation>A single flight on which the person arrives in and departs from the country without crossing the primary line.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Transfer">
				<xs:annotation>
					<xs:documentation>Person arrives in the country on one flight and departs on another flight without crossing the primary line.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaxStatusType">
		<xs:restriction base="st:STRING_TYPE">
			<xs:enumeration value="Board"/>
			<xs:enumeration value="DoNotBoardCanOverride"/>
			<xs:enumeration value="DoNotBoardNoOverride"/>
			<xs:enumeration value="Cancelled"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOfOverrideType">
		<xs:restriction base="st:STRING_TYPE">
			<xs:enumeration value="Agent"/>
			<xs:enumeration value="Govt"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HitStatusType">
		<xs:restriction base="st:STRING_TYPE">
			<xs:enumeration value="NotifyHit"/>
			<xs:enumeration value="Stop"/>
			<xs:enumeration value="Unknown"/>
			<xs:enumeration value="NoHit"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
