Spring-proctice/src/Common-java/src/main/resources/schema/das/common/string-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" 
           xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" 
           xmlns:ext="http://tools.bms.pts.xyz.com/xjcplugin/markentities" 
           xmlns:ext2="http://tools.bms.pts.xyz.com/xjcplugin/markentities/entity" 
           xmlns:st="string-types" 
           targetNamespace="string-types" 
           jaxb:extensionBindingPrefixes="xjc ext ext2" 
           jaxb:version="2.0">
	<!-- -->
	<!-- -->
	<xs:annotation>
		<xs:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="com.xyz.pts.bms.idetectdas.model.generated.output.common"/>
			</jaxb:schemaBindings>
			<jaxb:property>
				<jaxb:javadoc>entity,violations,errorreporting</jaxb:javadoc>
			</jaxb:property>
		</xs:appinfo>
	</xs:annotation>
	<!-- Record State - INSERT or UPDATE mode -->
	<xs:simpleType name="RecordStateType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NEW"/>
			<xs:enumeration value="UPDATE"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:complexType name="TEXT_TYPE">
		<xs:sequence>
			<xs:element name="string" type="st:STR80_TYPE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="STR2_LIST_TYPE">
		<xs:sequence>
			<xs:element name="string" type="st:STR2_TYPE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="STR3_LIST_TYPE">
		<xs:sequence>
			<xs:element name="string" type="st:STR3_TYPE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="STR4_LIST_TYPE">
		<xs:sequence>
			<xs:element name="string" type="st:STR4_TYPE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="STR5_LIST_TYPE">
		<xs:sequence>
			<xs:element name="string" type="st:STR5_TYPE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="STR20_LIST_TYPE">
		<xs:sequence>
			<xs:element name="string" type="st:STR20_TYPE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="STR30_LIST_TYPE">
		<xs:sequence>
			<xs:element name="string" type="st:STR30_TYPE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="STR35_LIST_TYPE">
		<xs:sequence>
			<xs:element name="string" type="st:STR35_TYPE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<!-- added 2008-01-16 -->
	</xs:complexType>
	<!-- -->
	<xs:complexType name="STR60_LIST_TYPE">
		<xs:sequence>
			<xs:element name="string" type="st:STR60_TYPE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="STR65_LIST_TYPE">
		<xs:sequence>
			<xs:element name="string" type="st:STR65_TYPE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="STR200_LIST_TYPE">
		<xs:sequence>
			<xs:element name="string" type="st:STR200_TYPE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="STR80_LIST_TYPE">
		<xs:sequence>
			<xs:element name="string" type="st:STR80_TYPE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<!-- General String() -->
	<xs:simpleType name="STRING_TYPE">
		<xs:restriction base="xs:string">
		<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<!-- String types with only length specified-->
	<!-- -->
	<xs:simpleType name="STR1_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR2_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR3_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR4_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR5_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR6_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR7_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR8_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR9_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR10_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR12_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR14_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR15_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR16_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR17_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="17"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR18_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR19_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="19"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR20_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR21_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="21"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR22_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="22"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR25_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR30_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR32_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR35_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STR45_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="45"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR50_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR60_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR64_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR65_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="65"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR70_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="70"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR80_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR90_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="90"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR100_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR128_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR200_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR256_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR500_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR3840_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3840"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR2000_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->	
	<xs:simpleType name="STR4000_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4000"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="STR10000_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10000"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<!-- -->
</xs:schema>
