Spring-proctice/src/Common-java/src/main/resources/schema/das/db/idetectdb-dcs-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema"
           	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	        xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	        xmlns:ext="http://tools.bms.pts.xyz.com/xjcplugin/markentities"
            xmlns:ext2="http://tools.bms.pts.xyz.com/xjcplugin/markentities/entity"
		    jaxb:extensionBindingPrefixes="xjc ext ext2"
            xmlns:st="string-types"
		    xmlns:da="datetime-types"
		    xmlns:nu="numeric-types"
		    xmlns:do="domain-types"
            jaxb:version="2.0"
		    xmlns:dbdcs="dbdcs"
  			targetNamespace="dbdcs">
	<!-- -->
	<!-- -->
  <xs:annotation>
    <xs:appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="com.xyz.pts.bms.idetectdas.model.generated.output.idetectdb.dcstypes"/>
      </jaxb:schemaBindings>
      <jaxb:property>
        <jaxb:javadoc>entity,violations,errorreporting</jaxb:javadoc>
      </jaxb:property>
    </xs:appinfo>
  </xs:annotation>
  <!-- -->
  <xs:import namespace="string-types" schemaLocation="../common/string-types.xsd"/>
  <xs:import namespace="datetime-types" schemaLocation="../common/datetime-types.xsd"/>
  <xs:import namespace="numeric-types" schemaLocation="../common/numeric-types.xsd"/>
  <xs:import namespace="domain-types" schemaLocation="../common/domain-types.xsd"/>
  <!-- -->
  <xs:complexType name="CheckinInfoType">
    <xs:sequence>
      <xs:element name="AgentInitial" type="st:STR4_TYPE" minOccurs="0"/>
      <xs:element name="Station" type="st:STR5_TYPE" minOccurs="0"/>
      <xs:element name="Time" type="xs:time" minOccurs="0"/>
      <xs:element name="Comments" type="st:STR80_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PassengerInfoType">
    <xs:sequence>
      <xs:element name="FinalDestination" type="st:STR5_TYPE" minOccurs="0"/>
      <xs:element name="Destination" type="st:STR10_TYPE" minOccurs="0"/>
      <xs:element name="Status" type="st:STR2_TYPE" minOccurs="0"/>
      <xs:element name="ContactName" type="st:STR80_TYPE" minOccurs="0"/>
      <xs:element name="ContactComments" type="st:STR80_TYPE" minOccurs="0"/>
      <xs:element name="ServiceMessageComments" type="st:STR80_TYPE" minOccurs="0"/>
      <xs:element name="Type" type="st:STR6_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentInfoType">
    <xs:sequence>
      <xs:element name="Type" type="st:STR1_TYPE" minOccurs="0"/>
      <xs:element name="PassportInfo" type="dbdcs:PassportInfoType" minOccurs="0"/>
      <xs:element name="VisaInfo" type="dbdcs:VisaInfoType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VisaInfoType">
    <xs:sequence>
      <xs:element name="Number" type="st:STR20_TYPE" minOccurs="0"/>
      <xs:element name="ExpireDate" type="xs:date" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PassportInfoType">
    <xs:sequence>
      <xs:element name="Information" type="st:STR80_TYPE" minOccurs="0"/>
      <xs:element name="Flag" type="xs:boolean" minOccurs="0"/>
      <xs:element name="Number" type="st:STR20_TYPE" minOccurs="0"/>
      <xs:element name="Nationality" type="do:ISO_COUNTRY_CODE_TYPE" minOccurs="0"/>
      <xs:element name="BirthDate" type="xs:date" minOccurs="0"/>
      <xs:element name="ExpireDate" type="xs:date" minOccurs="0"/>
      <xs:element name="IssueDate" type="xs:date" minOccurs="0"/>
      <xs:element name="PlaceOfIssue" type="st:STR35_TYPE" minOccurs="0"/>
      <xs:element name="Initial" type="st:STR30_TYPE" minOccurs="0"/>
      <xs:element name="Forename" type="st:STR80_TYPE" minOccurs="0"/>
      <xs:element name="LastName" type="st:STR80_TYPE" minOccurs="0"/>
      <xs:element name="MiddleName" type="st:STR80_TYPE" minOccurs="0"/>
      <xs:element name="FullName" type="st:STR200_TYPE" minOccurs="0"/>
      <xs:element name="ResidentCountry" type="do:ISO_COUNTRY_CODE_TYPE" minOccurs="0"/>
      <xs:element name="Gender" type="do:GENDER_TYPE" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InboundInfoListType">
    <xs:sequence>
      <xs:element name="InboundInfo" type="dbdcs:InboundInfoType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InboundInfoType">
    <xs:sequence>
      <xs:element name="CarrierCode" type="do:CARRIER_CODE_TYPE" minOccurs="0"/>
      <xs:element name="FlightNumber" type="do:FLIGHT_NUMBER_TYPE" minOccurs="0"/>
      <xs:element name="FlightSuffix" type="st:STR1_TYPE" minOccurs="0"/>
      <xs:element name="FlightArrivalDate" type="xs:date" minOccurs="0"/>
      <xs:element name="FlightArrivalTime" type="xs:time" minOccurs="0"/>
      <xs:element name="FlightFlag" type="xs:boolean" minOccurs="0"/>
      <xs:element name="BoardingStation" type="st:STR5_TYPE" minOccurs="0"/>
      <xs:element name="CheckedinCabinClass" type="st:STR2_TYPE" minOccurs="0"/>
      <xs:element name="TicketStatus" type="st:STR2_TYPE" minOccurs="0"/>
      <xs:element name="PaxStatus" type="st:STR3_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OutboundInfoListType">
    <xs:sequence>
      <xs:element name="OutboundInfo" type="dbdcs:OutboundInfoType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OutboundInfoType">
    <xs:sequence>
      <xs:element name="Number" type="st:STR5_TYPE" minOccurs="0"/>
      <xs:element name="ClassCode" type="st:STR2_TYPE" minOccurs="0"/>
      <xs:element name="TicketStatus" type="st:STR2_TYPE" minOccurs="0"/>
      <xs:element name="ThroughCheckinFlag" type="xs:boolean" minOccurs="0"/>
      <xs:element name="SeatNumber" type="st:STR4_TYPE" minOccurs="0"/>
      <xs:element name="StandbyNumber" type="st:STR4_TYPE" minOccurs="0"/>
      <xs:element name="SecurityNumber" type="st:STR4_TYPE" minOccurs="0"/>
      <xs:element name="GroupCode" type="st:STR4_TYPE" minOccurs="0"/>
      <xs:element name="PartyNumber" type="nu:INT4_TYPE" minOccurs="0"/>
      <xs:element name="SmokingFlag" type="xs:boolean" minOccurs="0"/>
      <xs:element name="Comments" type="st:STR80_TYPE" minOccurs="0"/>
      <xs:element name="OnCarriageInfo" type="dbdcs:OnCarriageInfoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="OnCarriageExtraInfo" type="dbdcs:OnCarriageExtraInfoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="OnCarriageOtherInfoList" type="dbdcs:OnCarriageOtherInfoList" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OnCarriageInfoType">
    <xs:sequence>
      <xs:element name="CarrierCode" type="do:CARRIER_CODE_TYPE" minOccurs="0"/>
      <xs:element name="FlightNumber" type="do:FLIGHT_NUMBER_TYPE" minOccurs="0"/>
      <xs:element name="FlightSuffix" type="st:STR1_TYPE" minOccurs="0"/>
      <xs:element name="DepartureDate" type="xs:date" minOccurs="0"/>
      <xs:element name="BoardingStation" type="st:STR5_TYPE" minOccurs="0"/>
      <xs:element name="Destination" type="st:STR5_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OnCarriageExtraInfoType">
    <xs:sequence>
      <xs:element name="FlightStatus" type="st:STR2_TYPE" minOccurs="0"/>
      <xs:element name="Remarks" type="st:STR80_LIST_TYPE" minOccurs="0"/>
      <xs:element name="ScheduledDepartureTime" type="xs:time" minOccurs="0"/>
      <xs:element name="EstimatedDepartureTime" type="xs:time" minOccurs="0"/>
      <xs:element name="BoardingGateNumber" type="st:STR4_TYPE" minOccurs="0"/>
      <xs:element name="BaggageCheckinType" type="st:STR2_TYPE" minOccurs="0"/>
      <xs:element name="BoardingTime" type="xs:time" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OnCarriageOtherInfoList">
    <xs:sequence>
      <xs:element name="OnCarriageOtherInfo" type="dbdcs:OnCarriageOtherInfoType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OnCarriageOtherInfoType">
    <xs:sequence>
      <xs:element name="CarrierCode" type="do:CARRIER_CODE_TYPE" minOccurs="0"/>
      <xs:element name="FlightNumber" type="do:FLIGHT_NUMBER_TYPE" minOccurs="0"/>
      <xs:element name="FlightSuffix" type="st:STR1_TYPE" minOccurs="0"/>
      <xs:element name="DepartureDate" type="xs:date" minOccurs="0"/>
      <xs:element name="BoardingStation" type="st:STR5_TYPE" minOccurs="0"/>
      <xs:element name="Destination" type="st:STR5_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfantInfoListType">
    <xs:sequence>
      <xs:element name="InfantInfo" type="dbdcs:InfantInfoType" minOccurs="0" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfantInfoType">
    <xs:sequence>
      <xs:element name="Forename" type="st:STR80_TYPE" minOccurs="0"/>
      <xs:element name="LastName" type="st:STR80_TYPE" minOccurs="0"/>
      <xs:element name="Gender" type="do:GENDER_TYPE" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Nationality" type="do:ISO_COUNTRY_CODE_TYPE" minOccurs="0" maxOccurs="1"/>
      <xs:element name="BirthDate" type="da:DATE10_TYPE" minOccurs="0"/>
      <xs:element name="PassportNumber" type="st:STR20_TYPE" minOccurs="0"/>
      <xs:element name="PassportExpiryDate" type="xs:date" minOccurs="0"/>
      <xs:element name="VisaNumber" type="st:STR20_TYPE" minOccurs="0"/>
      <xs:element name="VisaExpiryDate" type="xs:date" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpgradeClassInfoListType">
    <xs:sequence>
      <xs:element name="UpgradeClass" type="st:STR2_TYPE" minOccurs="0" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DowngradeClassInfoListType">
    <xs:sequence>
      <xs:element name="DowngradeClass" type="st:STR2_TYPE" minOccurs="0" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OnloadInfoType">
    <xs:sequence>
      <xs:element name="OnloadAction" type="st:STR4_TYPE" minOccurs="0"/>
      <xs:element name="OnloadClass" type="st:STR2_TYPE" minOccurs="0"/>
      <xs:element name="OnloadDestination" type="st:STR5_TYPE" minOccurs="0"/>
      <xs:element name="OnloadPriority" type="st:STR7_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentFlyerListType">
    <xs:sequence>
      <xs:element name="FrequentFlyer" type="dbdcs:FrequentFlyerType" minOccurs="0" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentFlyerType">
    <xs:sequence>
      <xs:element name="CarrierCode" type="do:CARRIER_CODE_TYPE" minOccurs="0"/>
      <xs:element name="Number" type="st:STR32_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketInfoType">
    <xs:sequence>
      <xs:element name="EticketFlag" type="st:STR1_TYPE" minOccurs="0"/>
      <xs:element name="NumberFlag" type="st:STR1_TYPE" minOccurs="0"/>
      <xs:element name="Status" type="do:TKT_STATUS_TYPE" minOccurs="0"/>
      <xs:element name="TicketNos" type="st:STR3_TYPE" minOccurs="0"/>
      <xs:element name="BookedClass" type="st:STR2_TYPE" minOccurs="0"/>
      <xs:element name="TicketList" type="dbdcs:TicketListType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketListType">
    <xs:sequence>
      <xs:element name="Ticket" type="dbdcs:TicketType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketType">
    <xs:sequence>
      <xs:element name="Number" type="st:STR22_TYPE" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Type" type="st:STR1_TYPE" minOccurs="0"/>
      <xs:element name="CouponNumber" type="st:STR1_TYPE" minOccurs="0"/>
      <xs:element name="CouponStatus" type="st:STR1_TYPE" minOccurs="0"/>
      <xs:element name="FareBasis" type="st:STR25_TYPE" minOccurs="0"/>
      <xs:element name="EticketCarrierCode" type="do:CARRIER_CODE_TYPE" minOccurs="0"/>
      <xs:element name="EticketFlightNumber" type="do:FLIGHT_NUMBER_TYPE" minOccurs="0"/>
      <xs:element name="EticketDate" type="xs:date" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaggageInfoType">
    <xs:sequence>
      <xs:element name="HandBagCnt" type="st:STR3_TYPE" minOccurs="0"/>
      <xs:element name="HoldBagCnt" type="st:STR3_TYPE" minOccurs="0"/>
      <xs:element name="HoldBagWeight" type="st:STR4_TYPE" minOccurs="0"/>
      <xs:element name="BagPoolNumber" type="st:STR5_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaggageTagListType">
    <xs:sequence>
      <xs:element name="BaggageTag" type="dbdcs:BaggageTagType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaggageTagType">
    <xs:sequence>
      <xs:element name="TagIndex" type="st:STR2_TYPE" minOccurs="1" maxOccurs="1"/>
      <xs:element name="IssuingCarrierCode" type="st:STR4_TYPE"  minOccurs="0" maxOccurs="1" />
      <xs:element name="Number" type="st:STR20_TYPE"  minOccurs="0" maxOccurs="1" />
      <xs:element name="TagNos" type="st:STR80_LIST_TYPE" minOccurs="0"/>
      <xs:element name="Destination" type="st:STR5_TYPE" minOccurs="0"/>
      <xs:element name="Type" type="st:STR1_TYPE" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodeShareInfoType">
    <xs:sequence>
      <xs:element name="CarrierCode" type="st:STR3_TYPE" minOccurs="0"/>
      <xs:element name="FlightNumber" type="st:STR5_TYPE" minOccurs="0"/>
      <xs:element name="FlightSuffix" type="st:STR1_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
