Spring-proctice/src/SCenter/viper-client-api/src/wsdl/ProductManagement.wsdl

<definitions name='ProductManagement' targetNamespace='http://xml.A.com/v4'
	xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
	xmlns:tns='http://xml.A.com/v4' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
	<types>
		<xs:schema targetNamespace='http://xml.A.com/v4'
			version='1.0' xmlns:tns='http://xml.A.com/v4' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
			<xsd:include schemaLocation="productManagement.xsd" />
			<xsd:include schemaLocation="acMessageWrapper.xsd" />
			
			<xs:element name='processRequest' type='tns:processRequest' />
			<xs:element name='processRequestResponse' type='tns:processRequestResponse' />
			<xs:complexType name='processRequest'>
				<xs:sequence>
					<xs:element minOccurs='0' name='arg0' type='xs:string' />
				</xs:sequence>

			</xs:complexType>
			<xs:complexType name='processRequestResponse'>
				<xs:sequence>
					<xs:element minOccurs='0' name='return' type='xs:string' />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name='productManagementWS_processRequest'>

		<part element='tns:processRequest' name='processRequest'></part>
	</message>
	<message name='productManagementWS_processRequestResponse'>
		<part element='tns:processRequestResponse' name='processRequestResponse'></part>
	</message>
	<portType name='productManagementWS'>
		<operation name='processRequest' parameterOrder='processRequest'>
			<input message='tns:productManagementWS_processRequest'></input>
			<output message='tns:productManagementWS_processRequestResponse'></output>

		</operation>
	</portType>
	<binding name='productManagementWSBinding' type='tns:productManagementWS'>
		<soap:binding style='document'
			transport='http://schemas.xmlsoap.org/soap/http' />
		<operation name='processRequest'>
			<soap:operation soapAction='' />
			<input>
				<soap:body use='literal' />
			</input>

			<output>
				<soap:body use='literal' />
			</output>
		</operation>
	</binding>
	<service name='ProductManagementWebServiceClient'>
		<port binding='tns:productManagementWSBinding' name='productManagementWSPort'>
			<soap:address location='http://localhost:8080/pr/ProductManagementWS' />
		</port>

	</service>
</definitions>